body,
html {
    overflow-x: hidden;
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
}

.hidden {
    display: none;
}

.section {
    /* border: 1px solid black; */
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    /* border: 1px solid rgb(255, 0, 0); */
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-grid {
    /* border: 1px solid rgb(255, 174, 0); */
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.services-item-container {
    /* border: 1px solid rgb(0, 119, 255); */
    /* padding: 1rem; */
    width: 100%;
    height: 100%;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item-icon {
    /* border: 1px solid rgb(255, 0, 212); */
    width: 100px;
    height: 100px;
}

.item-icon-image-file {
    width: 100%;
    height: 100%;
}

.item-text-content {
    width: 60%;
}

@media all and (max-width: 480px) {
    .services-grid {
        /* border: 1px solid rgb(255, 174, 0); */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media all and (min-width: 481px) and (max-width: 1024px) {
    .services-grid {
        /* border: 1px solid rgb(255, 174, 0); */
        width: 75%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        align-items: center;
    }
}