body,
html {
    overflow-x: hidden;
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
}

.hidden {
    display: none;
}

.section {
    /* border: 1px solid black; */
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    /* border: 1px solid rgb(255, 0, 0); */
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-container {
    /* border: 1px solid rgb(195, 255, 0); */
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-nav {
    position: absolute;
    z-index: 121212;
    width: 50px;
    height: 50px;
    top: 40%;
    background-color: aquamarine;
    cursor: pointer;
}

.slider-nav-previous {
    left: 5px;
}

.slider-nav-next {
    right: 5px;
}

.slides {
    width: 100%;
    height: 100%;
    display: block;
}

.slide {
    width: 100%;
    height: 100%;
    /* position: relative; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}

.slide-title {
    background-color: #fff;
    padding: 0rem 1rem 0rem 1rem;
    /* border: 1px solid rgb(255, 0, 0); */
    width: fit-content;
}

.slide-title-text {
    width: fit-content;
}

.slide1 {
    background-image: url(images/slider1.jpg);
}

.slide2 {
    background-image: url(images/slider2.jpg);
}

.slide3 {
    background-image: url(images/slider3.jpg);
}

.slide4 {
    background-image: url(images/slider4.jpg);
}

.slide5 {
    background-image: url(images/slider5.jpg);
}

.slide6 {
    background-image: url(images/slider6.jpg);
}