body,
html {
    overflow-x: hidden;
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
}

.hidden {
    display: none;
}

.section {
    /* border: 1px solid black; */
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    /* border: 1px solid rgb(255, 0, 0); */
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-container {
    /* border: 1px solid rgb(195, 255, 0); */
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-nav {
    position: absolute;
    z-index: 121212;
    padding: 5px;
    width: 50px;
    height: 50px;
    top: 40%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
}

.slider-nav-previous {
    left: 5px;
}

.slider-nav-next {
    right: 5px;
}

.slides {
    width: 100%;
    height: 100%;
    display: block;
}

.slide {
    width: 100%;
    height: 100%;
    /* position: relative; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}

.slide-title {
    background-color: rgba(0, 0, 0, 0.527);
    padding: 1rem 1rem 1rem 1rem;
    /* border: 1px solid rgb(255, 0, 0); */
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.quote-mark-icon {
    width: 50px;
    height: 50px;
}

.slide-title-text {
    width: fit-content;
    letter-spacing: 2px;
    font-weight: lighter;
}

.slide-title-attribution {
    text-align: center;
    color: rgb(255, 202, 28);
    font-weight: bolder;
    letter-spacing: 2px;
}

.slide1 {
    background-image: url(images/slider1.jpg);
}

.slide2 {
    background-image: url(images/slider2.jpg);
}

.slide3 {
    background-image: url(images/slider3.jpg);
}

.slide4 {
    background-image: url(images/slider4.jpg);
}

.slide5 {
    background-image: url(images/slider5.jpg);
}

.slide6 {
    background-image: url(images/slider6.jpg);
}

@media all and (max-width: 1024px) {
    .slide-title {
        padding: 10px;
        width: 100%;
    }
    .quote-mark-icon {
        width: 20px;
        height: 20px;
    }
    .slide-title-text {
        font-weight: lighter;
        font-size: 14px;
    }
    .slide-title-attribution {
        font-size: 14px;
    }
}

@media screen and (orientation: landscape) {
    /* Landscape styles here */
    .slider-nav {
        width: 40px;
        height: 40px;
        top: 5%;
    }
}